<h3>{{name}} 
	<span class="pull-right">
		<a href="/show/{{_id}}" class="btn btn-secondary">Edit</a>
		<a href="/watch/{{_id}}" class="btn btn-primary">Watch Now</a>
	</span>
</h3>
<p class="muted">
	Starts at {{startTime}} on {{startDate}} and lasts for {{durationMin}} minutes.
</p>